{% extends 'base_with_footer.html' %}
{% load static %}
{% block content %}
<style>
    .card {
        height: 300px;
        width: 100%;
    }

    .post-image1 {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-title {
        font-weight: bold;
        font-size: 15px;
    }

    .username {
        color: gray;
    }

    .card-title a,
    .username a {
        color: inherit;
        text-decoration: none;
    }

    .form-search {
        margin-bottom: 20px;
    }
</style>
<form action="" class="d-flex form-search">
    <input type="text" name="searchPost" class="form-control me-2" placeholder="Search for Post..." />
    <button type="submit" class="btn btn-secondary">
        Search
    </button>
</form>
{% if searchTerm %}
<p>Searching for: {{ searchTerm }}</p>
{% endif %}
<div class="row row-cols-1 row-cols-md-6 g-4">
    {% for post in posts %}
    <div class="col">
        <div class="card">
            {% if post.image %}
            <a href="{% url 'detail' post.id %}">
                <img class="post-image1" src="{{ post.image.url }}" />
            </a>
            {% else %}
            <a href="{% url 'detail' post.id %}">
                <img class="post-image1" src="{% static 'images/default-image.jpg' %}" />
            </a>
            {% endif %}
            <div class="card-body">
                <div class="card-title">
                    <a href="{% url 'detail' post.id %}">
                        {% if post.title|length > 10 %}
                        {{ post.title|slice:":10" }}...
                        {% else %}
                        {{ post.title }}
                        {% endif %}
                    </a>
                </div>
                <div class="d-flex align-items-center">
                    {% if post.created_by %}
                    <div class="username">
                        <a href="{% url 'view_profile' post.created_by.id %}">
                            {% if post.created_by.userprofile.image %}
                            <img src="{{ post.created_by.userprofile.image.url }}" alt="{{ post.created_by.username }}"
                                width="20" height="20" class="rounded-circle me-2">
                            {% else %}
                            <img src="{% static 'images/default-avatar.png' %}" alt="{{ post.created_by.username }}"
                                width="20" height="20" class="rounded-circle me-2">
                            {% endif %}
                            <span>{{ post.created_by.username }}</span>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{% url 'create_post' %}" class="position-fixed bottom-0 end-0 m-3" role="button" title="Add Post">
    <img src="{% static 'images/add.png' %}" alt="Add Post" width="50" height="50">
</a>
{% endblock content %}